@*
     @model IEnumerable< ZkouskovaAPP.Models.Books>
*@
@{
    ViewData["Title"] = "Seznam";
    @model IEnumerable< ZkouskovaAPP.Models.Books>
}
<h1>Seznam knih</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Autor</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kniha in Model)
        {
            <tr>
                <td>@kniha.ID</td>
                <td>@kniha.Nazev</td>
                <td>@kniha.Autor</td>
                <td>
                    <a href="@Url.Action("Detail", new { id = kniha.ID })">Detail</a> |
                    <a href="@Url.Action("Edit", new { id = kniha.ID })">Upravit</a> |
                    <a href="@Url.Action("Delete", new { id = kniha.ID })">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>